seed: 42
map_size: 3000.0
tau0: 1.0
T_steps: 200

num_uav: 3
num_gu: 20
num_sat: 72
walker_num_planes: 6
sat_state_max: 9

users_obs_max: 20
sats_obs_max: 6
visible_sats_max: 6
visible_sats_min: null
nbrs_obs_max: 4

uav_height: 100.0
sat_height: 500000.0
theta_min_deg: 5.0
v_max: 30.0
a_max: 5.0
d_safe: 20.0
boundary_mode: reflect

task_arrival_rate: 5.0e5
task_arrival_poisson: true

gu_tx_power: 0.06
uav_tx_gain: 300.0
sat_rx_gain: 300.0
b_acc: 5.0e6
b_sat_total: 2.0e7
sat_cpu_freq: 1.0e10
noise_density: 4.0e-21
pathloss_mode: prob_los
pl_threshold_db: 110.0

doppler_observed: true
doppler_enabled: false
energy_enabled: false
fading_enabled: false
interference_enabled: false
enable_bw_action: true
fixed_satellite_strategy: false
sat_select_mode: sample
N_RF: 2

avoidance_enabled: true
avoidance_eta: 100.0
avoidance_alert_factor: 1.5
eta_crash: 5.0
omega_q: 5.0

buffer_size: 4000
num_mini_batch: 32
ppo_epochs: 4

early_stop_enabled: false
early_stop_min_updates: 20
early_stop_window: 5
early_stop_patience: 10
early_stop_min_delta: 0.001
